.faqContainer {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.faqTitleContainer {
  display: flex;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  z-index: 1;
  position: relative;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 3px groove rgba(162, 255, 162, 0.432);
  padding: 0.5em 1em 0.5em 1em;
  color: rgb(37, 43, 51);
  overflow: hidden;
  cursor: pointer;
}
.title span {
  cursor: pointer;
}

.content {
  /* opacity: 0; */
  position: relative;
  /* margin-top: -6px; */
  overflow: hidden;
  padding: 0em 1em 0em 1em;
  max-height: 0;
  transition: height 1s;
  border-radius: 5px;
  border-bottom: 2px solid rgba(192, 192, 192, 0.452);
  border-left: 2px solid rgba(192, 192, 192, 0.452);
  border-right: 2px solid rgba(192, 192, 192, 0.452);
}

.content.show {
  opacity: 1;
  padding: 1em;
  height: auto;
  max-height: 100px;
  /* transition: 1s; */
}

.pointer {
  transition: 0.35s;
  display: flex;
  flex-direction: column;
}

.rotate {
  transition: 0.35s;
  transform: rotate(180deg);
  /* transform-origin: 50% 48%; */
}
