.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 249, 250);
    padding: 2em;

}

fieldset {
    border: 2px groove rgba(162, 255, 162, 0.432);
    border-radius: 15px;
    background-color: white;
    /* height: 100%; */
    display: flex;
    align-items: center;
}

legend {
    color: rgb(37, 43, 51);
}

form {
    max-width: 650px;
}

input {
    height: 35px;;
}

input, textarea {
    border: 2px groove rgba(192, 192, 192, 0.24);
    padding: .5em;
    background-color: rgb(248, 249, 250);
}

input:focus, textarea:focus {
    outline: none;
    background-color: white;
    border: 2px groove rgba(162, 255, 162, 0.432);
}

textarea {
    min-height: 200px;
    resize: vertical;
}

.formField {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2em;
}

.formTalk,
.formEmail {
    width: 250px;
}

.formText {
    width: 100%;
}