.faqSection {
  /* display: flex; */
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(37, 43, 51);
}

/* .faqSection button {
  color: #2ea44f;
} */

.app {
  /* font-family: sans-serif; */
  margin-top: 1rem;
  /* border-top: 1px solid #ccc; */
}

/* .faqTitle {
  font-weight: bold !important;
  color: #2ea44f !important;
} */

.item {
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.itemBtn {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  border: none;
  transition: 0.25s ease-in-out;
}

.itemBtn:hover {
  background-color: #f3f3f3;
  color: #2ea44f;
  transition: 0.25s ease-in-out;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: 0.2s ease-in-out;
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}
