.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.sliderContainer {
  display: flex;
  align-items: center;
  background-image: url(./images/sitedani6-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left;
}

.testimonyImage {
  /* border-radius: 50px; */
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: white;
}

.swiper-slide {
  background-color: #f8f9fa;
}

.testimonyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.testimonyContainer p {
  margin-bottom: 25px;
}

.testimonySLider {
  display: flex;
  justify-content: center;
}

.testimonialText {
  text-align: center;
  max-width: 650px;
  font-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1 !important;
  transition: 0.3s;
}

.swiper-wrapper:hover + .swiper-button-prev {
  opacity: 1 !important;
  transition: 0.3s;
}

.swiper-wrapper:hover ~ .swiper-button-next {
  opacity: 1 !important;
  transition: 0.3s;
}

.swiper-pagination {
  top: 300px !important;
}